<div id="home-view">

  <div id="galaxy-header">

    <div class="galaxy-layer"></div>
    <div class="galaxy-blurred-layer"></div>
    <div class="gradient-layer">
      <div>
        <img id="novae-logo" src="/assets/images/logo.png">
        <img id="digital-workshop-title" src="/assets/images/digitalWorkshop.png">
      </div>
    </div>

  </div>

  <div class="introduction">
    <div>
    Novæ is an organization made of young and innovative tech students, who love to develop powerful, well-designed and efficient solutions.
    </div>
  </div>

  <div id="thinking-section" class="section">
    <div>
      <h1>
        Our way of thinking
      </h1>
      <p>
        We believe in robust, extensible, and well-designed products. That’s why we created Novæ. Our goal, as a team, is to deliver the product that fit your needs. Don’t worry about the technical details &ndash; we will handle that for you.
      </p>
    </div>
    <div id="thinking-background"></div>
  </div>


  <div class="section">
    <div>
      <h1>
        Solid and Extensible Architecture
      </h1>
      <p>
        No matter the size of your project, it will grow &ndash; maybe really fast.
        <br>
        Solid foundations and a scalable architecture are required to keep pace while traffic increases.
        We care about providing technologies and building software that will go with you along the path.
      </p>
    </div>
  </div>

  <div class="section">
    <div class="technologies-wrapper">
      <h1>
        State-of-the-Art Technologies
      </h1>
      <div class="technologies-squares">

        <div class="technology">
          <div>
            <img class="logo" src="/assets/images/railsLogo.svg">
          </div>
          <div>
            <p>
              In sodales hendrerit sapien, in aliquet dolor porttitor vitae. Donec magna sapien, consectetur vel ante vel, volutpat cursus augue. Duis id quam sed dui semper ullamcorper. Morbi placerat magna id nulla iaculis placerat vitae eget felis.
            </p>
          </div>
        </div>
        
        <div class="technology">
          <div>
            <img class="logo" src="/assets/images/nodeLogo.png">
          </div>
          <div>
            <p>
            Morbi placerat magna id nulla iaculis placerat vitae eget felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt finibus maximus. In sodales hendrerit sapien, in aliquet dolor porttitor vitae. Donec magna sapien, consectetur vel ante vel, volutpat cursus augue. 
            </p>
          </div>
        </div>

        <div class="technology">
          <div>
            <img class="logo" src="/assets/images/angularLogo.png">
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt finibus maximus. In sodales hendrerit sapien, in aliquet dolor porttitor vitae. Donec magna sapien, consectetur vel ante vel, volutpat cursus augue. Duis id quam sed dui semper ullamcorper.
            </p>
          </div>
        </div>

        <div class="technology">
            <img class="logo" src="/assets/images/cppLogo.png">
          <div>
            <p>
            Cras tincidunt finibus maximus. In sodales hendrerit sapien, in aliquet dolor porttitor vitae. Donec magna sapien, consectetur vel ante vel, volutpat cursus augue. Duis id quam sed dui semper ullamcorper. Morbi placerat magna id nulla iaculis placerat vitae eget felis.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer">
    <h3>Hello from Paris</h3>
    <span class="email">
      <a href="mailto:hello@novae.io">hello@novae.io</a>
    </span>
  </div>

</div>
