<div id="home-view">

  <div id="galaxy-header">

    <div class="galaxy-layer"></div>
    <div class="galaxy-blurred-layer"></div>
    <div class="gradient-layer">
      <div>
        <img id="novae-logo" src="/assets/images/logo.png">
        <img id="digital-workshop-title" src="/assets/images/digitalWorkshop.png">
      </div>
    </div>

  </div>

  <div class="introduction">
    <div>
    Novæ is an organization created by young and innovative tech students, who love to develop powerful, well-designed and efficient solutions.
    </div>
  </div>

  <div id="thinking-section" class="section">
    <div>
      <h1>
        Our Way of Thinking
      </h1>
      <p>
        We believe in robust, extensible, and well-designed products. That’s why we created Novæ. Our goal, as a team, is to deliver the product that fits your needs. Don’t worry about the technical details &ndash; we will handle that for you.
      </p>
    </div>

    <div id="thinking-background"></div>
  </div>

  <div id="architecture-section" class="section">
    <div>
      <h1>
        Solid and Extensible Architecture
      </h1>
      <p>
        No matter the size of your project, it will grow &ndash; maybe really fast.
        <br>
        Solid foundations and a scalable architecture are required to keep pace while traffic increases.
        We care about providing technologies and building software that will go with you along the path.
      </p>
    </div>

    <div id="architecture-background"></div>
  </div>

  <div class="section">
    <div class="technologies-wrapper">
      <h1>
        State-of-the-Art Technologies
      </h1>
      <div class="technologies-squares">
        <div class="technology">
          <div>
            <img class="logo" src="/assets/images/railsLogo.svg">
          </div>
          <div>
            <p>
              <b>Ruby on Rails</b> is a solid and mature framework, whose goal is to deliver fast and stable web applications. We use it to create good software in no time.
            </p>
          </div>
        </div>

        <div class="technology">
          <div>
            <img class="logo" src="/assets/images/nodeLogo.png">
          </div>
          <div>
            <p>
              <b>NodeJS</b> is the uprising Javascript framework that lets us build fast and event-driven data API, allowing us to code in the same asynchronous philosophy in frontend and backend.
            </p>
          </div>
        </div>

        <div class="technology">
          <div>
            <img class="logo" src="/assets/images/angularLogo.png">
          </div>
          <div>
            <p>
              <b>AngularJS</b> permits the creation of reactive user interfaces and uncouple views from data API logic. Applications become fast and easy to maintain.
            </p>
          </div>
        </div>

        <div class="technology">
            <img class="logo" src="/assets/images/cppLogo.png">
          <div>
            <p>
              <b>C++</b> enables us to unleash every single bit of power from the CPU, to create large and powerful applications.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="team-section" class="section">
    <div>
      <h1>
        The Team
      </h1>
      <p>
        A little team of us.
      </p>

      <div class="team">
        <div class="team-member">
          <div class="member-photo photo-max"></div>
          <h2>Max</h2>

          <div class="social-links">
            <a class="social-icon website" href="http://nax.io" target="_blank"><i class="fa fa-globe"></i></a>

            <a class="social-icon linkedin" href="https://fr.linkedin.com/in/mbacoux" target="_blank"><i class="fa fa-linkedin"></i></a>

            <a class="social-icon github" href="https://github.com/Nax" target="_blank"><i class="fa fa-github"></i></a>
          </div>
        </div>

        <div class="team-member">
          <div class="member-photo photo-seb"></div>
          <h2>Sebastien</h2>

          <div class="social-links">
            <a class="social-icon website" href="https://spuyet.io" target="_blank"><i class="fa fa-globe"></i></a>

            <a class="social-icon linkedin" href="https://fr.linkedin.com/in/spuyet" target="_blank"><i class="fa fa-linkedin"></i></a>

            <a class="social-icon github" href="https://github.com/spuyet" target="_blank"><i class="fa fa-github"></i></a>
          </div>
        </div>

        <div class="team-member">
          <div class="member-photo photo-chris"></div>
          <h2>Christophe</h2>

          <div class="social-links">
            <a class="social-icon website" href="http://kube.io" target="_blank"><i class="fa fa-globe"></i></a>

            <a class="social-icon linkedin" href="https://fr.linkedin.com/in/cfeijoo" target="_blank"><i class="fa fa-linkedin"></i></a>

            <a class="social-icon github" href="https://github.com/kube" target="_blank"><i class="fa fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <h3>Hello from Paris</h3>
    <span class="email">
      <a href="mailto:hello@novae.io">hello@novae.io</a>
    </span>
  </div>

</div>
