$logo-width: 340px;

$title-color: white;
$text-color: #B5B5B5;

#home-view {
  height: 100%;

  #galaxy-header {
    position: relative;
    height: 94%;
    overflow: hidden;

    .galaxy-blurred-layer {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;

      background: url('../../assets/images/galaxyBlurred.jpg') center center;
      background-size: cover;
      background-repeat: no-repeat;

      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }

    .galaxy-layer {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;

      background: url('../../assets/images/galaxy.jpg') center center;
      background-size: cover;
      background-repeat: no-repeat;

      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }

    .gradient-layer {
      position: relative;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;

      background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0));
      width: 100%;
      height: 100%;

      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      #novae-logo {
        margin-top: 31px;
        width: $logo-width;
        display: block;
        margin: 0 auto;
      }

      #digital-workshop-title {
        width: $logo-width;
        display: block;
        margin: 0 auto;
        margin-top: 18px;
      }    
    }
  }

  .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 52%;
    max-width: 720px;
    text-align: center;
    font-size: 27px;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 100;
    color: $text-color;
    padding: 31px;
  }

  .section {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    min-height: 92%;
    text-align: center;
    padding: 31px;
    margin-bottom: 42px;

    div {
      width: 100%;

      h1, p {
        margin: 0 auto;
        max-width: 720px;
      }

      h1 {
        font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
        font-weight: 100;
        font-size: 38px;
        color: $title-color;
      }

      p {
        font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
        font-weight: 100;
        font-size: 22px;
        line-height: 25px;
        color: $text-color;
      }

      .technologies-squares {
        display: flex;
        width: 94%;
        max-width: 1460px;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 18px;

        .technology {
          width: 45%;
          justify-content: top;

          @media screen and (max-width: 850px) {
            width: 100%;
            margin: 0px;
          }

          .logo {
            margin-top: 49px;
            margin-bottom: 11px;
            width: 76px;
            max-height: 84px;
          }

          p {
            font-size: 19px;
            width: 76%;
          }
        }
      }

      .team {
        display: flex;
        width: 94%;
        max-width: 1460px;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 18px;

        .team-member {
          width: 30%;
          justify-content: top;

          @media screen and (max-width: 850px) {
            width: 100%;
            margin: 22px;
          }

          .member-photo {
            width: 160px;
            height: 160px;
            margin: 0 auto;
            margin-top: 31px;
            border-radius: 100%;
            background-repeat: no-repeat;

            &.photo-max {
              background: url('../../assets/images/photoMax.jpg') center center;
              background-size: cover;
            }
            &.photo-seb {
              background: url('../../assets/images/photoSeb.jpg') center center;
              background-size: cover;
            }
            &.photo-chris {
              background: url('../../assets/images/photoChris.jpg') center center;
              background-size: cover;
            }
          }

          .social-links {
            .social-icon {
              transition-duration: 0.4s;
              font-size: 31px;
              color: #666;
              margin: 0 6px;

              &.linkedin:hover {
                color: #0077B5;
              }

              &.github:hover {
                color: #4183c4;
              }

              &.website:hover {
                color: #C0C0C0;
              }
            }
          }

          h2 {
            font-family: "Open Sans";
            font-size: 19px;
            font-weight: 100;
            margin-bottom: 0.3em;
            color: #888;
          }

          p {
            font-size: 18px;
            width: 76%;
          }

        }
      }

      .team-text {
        margin-top: 42px;
      }
    }

    #thinking-background {
      position: absolute;
      z-index: -42;
      left: 0;
      right: 0;
      height: 100%;
      opacity: 0.0;

      background: url('../../assets/images/galaxy3.jpg') center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    #architecture-background {
      position: absolute;
      z-index: -42;
      left: 0;
      right: 0;
      height: 100%;
      opacity: 0.0;

      background: url('../../assets/images/station.jpg') center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .footer {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    text-align: center;
    padding-bottom: 42px;
    max-width: 450px;
    margin: 0 auto;
    border-top: 1px solid #2A2A2A;

    h3 {
      font-weight: 100;
      font-size: 20px;
      margin-bottom: 0;
      color: #7C7C7C;
    }

    .email {
      font-size: 18px;
      color: #AAAAAA;

      a {
        transition-duration: 0.3s;

        font-size: 18px;
        color: #AAAAAA;
        text-decoration: none;

        &:hover {
          color: #7770B9;
        }

        &:active {
          transform: translate(1px, 1px);
        }
      }

    }
  }
}