<div id="home-view">

  <div id="galaxy-header">
    <div class="galaxy-layer">
      <div class="gradient-layer">
        <div>
          <img id="novae-logo" src="/assets/images/logo.png">
          <img id="digital-workshop-title" src="/assets/images/digitalWorkshop.png">
        <div>
      </div>
    </div>
  </div>

  <div class="section">
    <div>
      <h1>
        A full-size keyboard.<br>
        In a fraction of the space.
      </h1>
      <p>
        We believe that a comfortable, full-size keyboard is essential for a great notebook experience. But to fit one into the elegantly thin new MacBook, we had to completely rethink how a keyboard is engineered and constructed. To create the new keyboard, we redesigned each key and its underlying mechanism — not only making the whole keyboard much thinner, but also allowing for more comfortable, precise, and responsive typing that just feels right.
      </p>
    </div>
  </div>

  <div class="section">
    <div>
      <h1>
        Fully equipped for a wireless world.
      </h1>
      <p>
        The new MacBook is designed to fit effortlessly into our increasingly wireless world. Just about anything you do with a notebook can now be done over the air, thanks to Apple software that takes full advantage of the latest Wi‑Fi and Bluetooth wireless technology. So no matter where you are, you can connect to the web, transfer files, organize your photos, listen to music, and more — without being tied down.
      </p>
    </div>
  </div>

  <div class="section">
    <div>
      <h1>
        Built-in Apps
      </h1>
      <p>
        Every Mac comes with apps for creativity and apps for productivity. It also comes with a collection of great apps for things you do every day, like surﬁng the web, sending mail and messages, and organizing your calendar. It even comes with an app for finding new apps. Your Mac is more than full‑featured, it’s fully loaded.
      </p>
    </div>
  </div>

</div>
